@import 'leaflet/dist/leaflet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  @apply bg-white text-base font-normal text-slate-900 antialiased dark:bg-slate-950 dark:text-slate-100;
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  h1,
  h2,
  h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
  }

  button {
    font-size: 15px;
    font-weight: 600;
  }
}

.leaflet-container {
  @apply h-full w-full rounded-xl;
}
