@import 'leaflet/dist/leaflet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  @apply bg-white text-slate-900 antialiased dark:bg-slate-950 dark:text-slate-100;
}

.leaflet-container {
  @apply h-full w-full rounded-xl;
}
